<h1>HttpResource API</h1>
<mat-form-field appearance="outline">
  <mat-label>Search User</mat-label>
  <input (input)="searchUser($event)" id="user" type="text" matInput />
</mat-form-field>
<button mat-button (click)="users.reload()">Reload User data</button>
<button mat-button (click)="addUser()">Add User</button>
<div>
  {{ users.error()?.message }}
  <!-- @if(users.error(); as err){
  <p class="error">{{ err.message }}</p>
  } -->
</div>
<div>
  @if(users.isLoading()){
  <mat-spinner diameter="30"></mat-spinner>
  }
</div>
@for(user of users.value(); track user.id){
<mat-list>
  <mat-list-item>
    <span matListItemTitle>{{ $index + 1 }}. {{ user.name }}</span>
    <span matListItemLine>{{ user.email }}</span>
  </mat-list-item>
</mat-list>
}@empty {
<p class="empty">No Record found!</p>
}
