header {
  display: flex;
  border-bottom: solid 1px #333;
  margin-bottom: 1rem;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
  ul {
    margin: 0;
    list-style: none;
    color: #b5b5b5;
    cursor: pointer;
    background-color: #333;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    &:hover {
      background-color: #1c1d20;
      border-radius: 4px;
      color: #fff;
    }
  }
}
