<h2 class="inner-page-topic-heading">linkedSignal()</h2>
<div>
  <ul>
    @for(fruit of fruits(); track $index; let i = $index){
    <li
      onkeypress=""
      (click)="selectedFruit.set(fruit)"
      [class.selected]="selectFruit(fruit)"
    >
      {{ fruit }}
    </li>
    }
  </ul>
</div>
<p style="margin-bottom: 1rem">Selected fruit: {{ selectedFruit() }}</p>
<div class="button-wrapper">
  <button matButton="filled" color="primary" (click)="loadMoreFruits()">
    Load more fruits
  </button>
  <button matButton="filled" color="primary" (click)="loadLessFruits()">
    Load less fruits
  </button>
</div>
