<h1>ResourceAPI</h1>
<ul class="category-list">
  @for(category of categories; track category){
  <li (click)="searchProduct(category)">{{ category }}</li>
  }
</ul>
<div class="button-wrapper">
  <button color="primary" matButton="filled" (click)="products.reload()">
    Reload
  </button>
  <button color="secondary" matButton="filled" (click)="addProduct()">
    Add Product
  </button>
  <button color="danger" matButton="filled" (click)="products.set([])">
    Clear
  </button>
</div>
@if(products.isLoading()){
<mat-spinner diameter="30" />
} @if(products.error()){
<div class="error">
  {{ products.error() }}
</div>
} @if(!products.error()){ @for(product of products.value(); track product.id){
<mat-list>
  <mat-list-item>
    <span matListItemTitle>{{ $index + 1 }}. {{ product.title }}</span>
    <span matListItemLine>{{ product.description }}</span>
    <span matListItemLine>- {{ product.category }}</span>
  </mat-list-item>
</mat-list>
} @empty {
<p>No record found.</p>
}}
